<div class="home__container">
     <app-card gameCover="https://superbombapatch.com/cdn/shop/files/PS2-SuperBombaPatch2024v12.fw_1024x1024@2x.png?v=1702658346"
               gameLabel="DVD"
               gameType="DIGITAL"
               gamePrice="49,90">

     </app-card>
     <app-card gameCover="/assets/WINNING ELEVEN 9 - SPECIAL EDITION ISO PS2.jpg"
               gameLabel="EXCLUSIVE"
               gameType="DISC"
               gamePrice="R$119,90">
     </app-card>
     <app-card gameCover="/assets/gta.jpg"
               gameLabel="DVD"
               gameType="DISC"
               gamePrice="R$99,90"
               >
     </app-card>

</div>
