<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png"
         alt="playstation logo"
         srcset=""
         width="140px"
         height="32">
  </div>
  <div class="menu-bar__item">
     <ul>
      <li><a href="https://www.youtube.com/channel/UCK-se5q9MLxuecJ5Tc0zK3g"target="_blank">YOUTUBE</a></li>
      <li><a href="https://www.linkedin.com/in/fabricioikeharainamine"target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/FabricioIkehara"target="_blank">GITHUB</a></li>
     </ul>
  </div>
</div>
